{% extends 'car_services/base.html' %}
{% load static %}


{% block styles %}

{% endblock styles %}
    

{% block title %} Home page {% endblock title %}
    

{% block content %}
    <div class="container">
        <h2>Home page </h2>

        
        <h2>Lista de carros</h2>
        <ul>
            {% for vehicle in vehicles %}
                <li>{{ vehicle.modelo }} - {{ vehicle.usuario }} </li>
                {% endfor %}
        </ul>
            
    </div>
{% endblock content %}
    